.btn {
    width: 56px;
    height: 56px;
    margin-right: 6px;
    margin-top: 6px;
    border-radius: 28px;
    border: 1px solid rgb(7, 246, 234);
    font-size: 20px;
    background-color: rgb(12, 53, 71);
    color: #fff;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(2, 28, 39);
}