@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

:root {
  --primary: #D7998E;
  --secondary: #FFF4E8;
  --light: #FFFCF9;
  --lighter: #FFFFFF;
  --dark: #535353;
  --font: 'Fresca', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  border: none;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

body {
  background-color: var(--secondary);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}